---
import MainLayout from "@layouts/main-layout.astro";
---

<MainLayout>
  <main>
    <div class="container">
      <h1>Auctions</h1>
    </div>
  </main>
</MainLayout>

<style>
  .container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
